---
import Header from "../components/shared/header.astro"
---



<html lang="en">
	<head>

	</head>
	<body class="dark:bg-[#4a53b7] text-white bg-[#6a79ff] m-0 p-0 box-border scroll-smooth">
        <Header/>
		<slot/>
	</body>
</html>